server:
  port: 8888

spring:
  application:
    name: config

  profiles:
    active: git

  cloud:
    bus:
      enabled: false
    config:
      server:
        git:
          default-label: ${CONFIG_GIT_LABEL:feat/#46-ci-cd}
          search-paths: ${CONFIG_GIT_SEARCH_PATHS:config}
          uri: https://github.com/prgrms-be-adv-devcourse/beadv2_2_dev_high_BE