server:
  port: 8888
spring:
  application:
    name: config

  profiles:
    active: git

  cloud:
    bus:
      enabled: false
    config:
      server:
        git:
          default-label: ${CONFIG_GIT_LABEL:develop}
          search-paths: ${CONFIG_GIT_SEARCH_PATHS:config/config}
          uri: https://github.com/prgrms-be-adv-devcourse/beadv2_2_dev_high_BE
          clone-on-start: true
          force-pull: false
          refresh-rate: ${CONFIG_GIT_REFRESH_RATE:600} # 0=매 요청마다 최신 확인

management:
  endpoints:
    web:
      exposure:
        include: health, refresh
  info:
    git:
      mode: off
  health:
    config:
      enabled: false
  endpoint:
    health:
      probes:
        enabled: true

logging:
  level:
    org.springframework.cloud.config.server: WARN
