spring:
  application:
    name: auction-service
  config:
    import: "configserver:http://localhost:8888"
server:
  port: 8081

  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop

    database-platform: org.hibernate.dialect.H2Dialect

