spring:
  application:
    name: auction-service
  config:
    import: "optional:configserver:http://localhost:8888"
server:
  port: 8081

---
spring:
  config:
    activate:
      on-profile: prod
    import: "configserver:http://config:8888"
