spring:
  application:
    name: product
  datasource:
    url: ${DATASOURCE_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
  jackson:
    time-zone: Asia/Seoul
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
  config:
    import:
      - optional:file:.env[.properties]
      - optional:file:./product/.env[.properties]
  cloud:
    config:
      enabled: false
    discovery:
      enabled: false

server:
  port: 8085
