apiVersion: v1
kind: Service
metadata:
  name: discovery
  labels:
    app: discovery
spec:
  type: NodePort
  selector:
    app: discovery
  ports:
    - name: http
      port: 8761
      targetPort: 8761
      nodePort: 30761
