Spring:
  datasource:
    url: ${env.DATASOURCE_URL}
    driver-class-name: org.postgresql.Driver
    username: ${env.DATASOURCE_USERNAME}
    password: ${env.DATASOURCE_PASSWORD}
  jackson:
    time-zone: Asia/Seoul
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC