mail:
  host: smtp.gmail.com
  port: 587
  username: ${MORE_MAIL_USERNAME}
  password: ${MORE_MAIL_PASSWORD}
  properties:
    mail:
      smtp:
        auth: true
        starttls:
          enable: true
          required: true
        connectiontimeout: 5000
        timeout: 5000
        writetimeout: 5000