spring:
  batch:
    job:
      enabled: false
    jdbc:
      table-prefix: public.batch_
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost}:${KAFKA_BOOT_PORT:29092}
    username: ${KAFKA_USER:}
    password: ${KAFKA_PASSWORD:}
eureka:
  client:
    service-url:
      register-with-eureka: true
      fetch-registry: true
      service-url:
        defaultZone: http://admin:admin@${eureka.instance.hostname:localhost}:8761/eureka
    instance:
      prefer-ip-address: true
      instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}
      health-check-url-path: /actuator/health

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

logging:
  level:
    org.apache.kafka.clients.consumer.ConsumerConfig: WARN
    org.apache.kafka.clients.consumer.internals.ConsumerCoordinator: WARN
    org.apache.kafka.clients.consumer.internals.ConsumerNetworkClient: WARN
    org.apache.kafka.clients.producer.ProducerConfig: WARN
    org.apache.kafka.clients.producer.internals.Sender: WARN

log:
  path: ${LOG_PATH:./logs}