spring:
  application:
    name: notification-service
  profiles:
    active: ${env.SPRING_PROFILES_ACTIVE:local}
  config:
    import:
      - configserver:http://localhost:8888
      - optional:file:.env[.properties]
server:
  port: 8080
---
spring:
  config:
    activate:
      on-profile: prod
    import: "configserver:http://config:8888"