spring:
  application:
    name: apigateway
  config:
    import: "configserver:http://localhost:8888"
server:
  port: 8000

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auction-service
              uri: lb://AUCTION-SERVICE
#              각 컨트롤러의 RequestMapping에 따라 달라짐
              predicates:
                - Path=/api/v1/auctions/**
              filters:
                - RewritePath=/api/v1/auctions/(?<segment>.*), /${segment}
            - id: notice-service
              uri: lb://NOTICE-SERVICE
              predicates:
                - Path=/api/v1/notice/**
              filters:
                - RewritePath=/api/v1/notice/(?<segment>.*), /${segment}
            - id: deposit-service
              uri: lb://DEPOSIT-SERVICE
              predicates:
                - Path=/api/v1/deposit/**
              filters:
                - RewritePath=/api/v1/deposit/(?<segment>.*), /${segment}
            - id: auth-service
              uri: lb://AUTH
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - RewritePath=/api/v1/auth/(?<segment>.*), /${segment}
            - id: order-service
              uri: lb://ORDER-SERVICE
              predicates:
                - Path=/api/v1/order/**
              filters:
                - RewritePath=/api/v1/order/(?<segment>.*), /${segment}
            - id: product-service
              uri: lb://PRODUCT-SERVICE
              predicates:
                - Path=/api/v1/products/**
              filters:
                - RewritePath=/api/v1/products/(?<segment>.*), /${segment}
            - id: search-service
              uri: lb://SEARCH-SERVICE
              predicates:
                - Path=/api/v1/search/**
              filters:
                - RewritePath=/api/v1/search/(?<segment>.*), /${segment}
            - id: settlement-service
              uri: lb://SETTLEMENT-SERVICE
              predicates:
                - Path=/api/v1/settle/**
              filters:
                - RewritePath=/api/v1/settle/(?<segment>.*), /${segment}
            - id: settlement-service
              uri: lb://SETTLEMENT-SERVICE
              predicates:
                - Path=/api/v1/settle/**
              filters:
                - RewritePath=/api/v1/settle/(?<segment>.*), /${segment}
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/v1/user/**
              filters:
                - RewritePath=/api/v1/user/(?<segment>.*), /${segment}
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
