spring:
  application:
    name: apigateway
  config:
    import: "configserver:http://localhost:8888"
server:
  port: 8000
jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}