apiVersion: v1
kind: Service
metadata:
  name: apigateway
  labels:
    app: apigateway
spec:
  type: ClusterIP #ingress controller 적용 시, cluster IP로 전환
  selector:
    app: apigateway
  ports:
    - name: http
      port: 80
      targetPort: 8000
      nodePort: 30080
