apiVersion: apps/v1
kind: Deployment
metadata:
  name: product
  labels:
    app: product
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
        - name: product
          image: ghcr.io/prgrms-be-adv-devcourse/product:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8085
          env:
            - name: SERVER_PORT
              value: "8085"
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"

            - name: DATASOURCE_DRIVER
              valueFrom:
                secretKeyRef:
                  name: product-secret
                  key: DATASOURCE_DRIVER

            - name: DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: product-secret
                  key: DATASOURCE_PASSWORD

            - name: DATASOURCE_URL
              valueFrom:
                secretKeyRef:
                  name: product-secret
                  key: DATASOURCE_URL

            - name: DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: product-secret
                  key: DATASOURCE_USERNAME
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8085
            initialDelaySeconds: 100
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 12

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8085
            initialDelaySeconds: 100
            periodSeconds: 20
            timeoutSeconds: 3
            failureThreshold: 6
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"