apiVersion: v1
kind: Service
metadata:
  name: product
  labels:
    app: product
spec:
  type: ClusterIP
  selector:
    app: product
  ports:
    - name: http
      port: 8085
      targetPort: 8085