server:
  port: 8761
  forward-headers-strategy: framework
spring:
  application:
    name: discovery
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: true
    eviction-interval-timer-in-ms: 30000

management:
  endpoint:
    health:
      probes:
        enabled: true

#eureka:
#  client:
#    register-with-eureka: false
#    fetch-registry: false
#    service-url:
#      defaultZone: http://admin:admin@localhost:8761/eureka
